.footer {
  background-color: #131921;
  color: whitesmoke;
  height: auto;
  width: auto;
  padding: 30px;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.footer__section > ul > a > li {
  text-decoration: none;
  list-style: none;
  padding: 7px;
  justify-content: center;
}
.footer__section > ul {
  padding: 0;
}

.footer__section > h4 {
  font-weight: bolder;
  text-align: center;
}
.footer__section > ul > a {
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
}
.footer__section > ul > a > li:hover {
  color: #f0c14b;
  transition: all 0.3s ease-out;
}

.footer__bottom {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid darkgray;
}

.footer__languagePicker {
  padding: 20px;
}

.footer__languageSelect {
  background-color: whitesmoke;
}

.footer__languageForm > label {
  margin-right: 10px;
}

.footer__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 10px;
}
