.basketItem {
  display: flex;
  margin-top: 20px;
  bottom: 20px;
}

.basketItem__info {
  padding-left: 20px;
}

.basketItem__info > button {
  background: #f0c14b;
  bottom: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: none;
}

.basketItem__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.basketItem__rating {
  display: flex;
  color: gold;
}

.basketItem__title {
  font-size: 17px;
  font-weight: 700;
}
